</div>
<tr><td width="50%" style="font-size: 18px;">Здарова Влад :)
Получается обманул тебя дважды!
Первый раз, про то что это тестовая открытка для других людей, а второй раз потом узнаешь.

Ладно! Я хочу тебе сказать что я очень ценю нашу с тобой дружбу!
Ты для меня настоящий друг-дружище, а не бывший рандомный коллега!

Я бываю резок за что мне порой бывает стыдно. Очередной раз прошу прощения, что не всегда
мне удается сдержать эмоции в своей... узде :)
Тем не менее, очень часто я ставлю некоторые твои качества другим людям в пример,
как рабочие так и личные. Вот так вот! Понял?
Желаю тебе настоящего человеческого и семейного счастья в Новом Году,
ценить себя и свои силы ну и сбытия мечт, ваще любых :)

Как мы знаем - лучший подарок это то, что ты себе никогда не купишь!
Поэтому именно это я тебе и дарю!
Чтобы забрать - зайди в стим и аксепни друга с непонятным ником.
<img src="static/tree.png"><br><b>С наступающим новым годом!</b></td>
