<head>

  <style>
    body {
      font-size: 30px;
      background-color:black;
      color: green;
      font-family: 'Courier New', monospace;
    }
    table
    {
      border-collapse: collapse;
      width: 100%;
    }

    table td
    {
    table-layout:fixed;
    width:30px;
    height: 30px;
    overflow:hidden;
    word-wrap:break-word;
    text-align: center;
    }

    a {
      color: gray
    }

  </style>
  <title>...</title>
	<meta charset="utf-8">

<script></script></head>
<body>
<div id="matrix"><center>

...<br><br><table><tbody><tr><td width="50%" style="font-size: 25px;">Здарова Влад :)<br><br>Получается обманул тебя дважды!<br>Первый раз, про то что это тестовая открытка для других людей, а второй раз потом узнаешь.<br><br>Ладно.<br>Я хочу тебе сказать что я очень ценю нашу с тобой дружбу!<br>Ты для меня настоящий друг, а не бывший рандомный коллега!<br><br>Я бываю резок за что мне порой бывает стыдно.<br>Тем не менее, очень часто я ставлю некоторые твои качества другим людям в пример,<br> как рабочие так и личные.<br><br>Желаю тебе настоящего человеческого и семейного счастья в Новом Году,<br>ценить себя и свои силы ну и сбытия мечт, ваще любых :)<br><br>Как мы знаем - лучший подарок это то, что ты себе никогда не купишь!<br>Поэтому именно это я тебе и дарю!<br>Чтобы забрать - зайди в стим и аксепни друга с непонятным ником.<br><br><img src="static/tree.png"><br>С наступающим новым годом!</td>


</tr></tbody></table></center></div></body>
